# Disallow everything by default
*/**

# Allow root documentation & license
!README.md
!ROADMAP.md
!LICENSE
!/.gitignore

# Allow public docs + images
!docs-public/**
!assets/**

# Allow GitHub workflows and utility scripts
!.github/**
!scripts/**
